@model ShopVM

<main>

    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <section id="shoptext">
        @Html.Raw(Model.Settings.FirstOrDefault(x => x.Key == "shopfirstp").Value)
    </section>

    <section id="categories">
        <div class="container">
            <div class="row">
                <ul class="head_categories">
                    @foreach (CategoryListVM category in Model.Categories.Where(x => x.IsMain))
                    {
                        <li class="headcategoryli shoppagecaegory">
                            @if (category.IsMain)
                            {
                                <a href="" class="categoryhref sortvmclick sortparentcategoryid" data-parentcategoryid="@category.Id">
                                    @category.Name.ToUpperInvariant()
                                </a>
                            }
                            @if (category.Children != null && category.Children.Count > 0)
                            {
                                <div class="categorymenu">
                                    <div class="all">
                                        <div class="col-lg-3 left col-12">
                                            <span class="seeall"><a class="sortvmclick sortparentcategoryid" data-parentcategoryid="@category.Id">SEE ALL</a></span>
                                            <span>
                                                @if (category.IsMain)
                                                {
                                                    @category.Name.ToUpperInvariant()
                                                }
                                            </span>
                                            <ul>
                                                @foreach (var item in Model.Categories.Where(x => x.ParentId == category.Id && !x.IsMain))
                                                {
                                                    <li> <a class="sortcategoryid sortvmclick" data-categoryid="@item.Id">@item.Name.ToUpperInvariant()</a> </li>
                                                }
                                            </ul>
                                        </div>

                                        <div class="col-lg-4-5 middle">
                                            <span class="col-lg-12 mainspan">SHOP BY BODY FIT</span>
                                            <div class="bodyfits">
                                                @foreach (var bodyFit in Model.BodyFits)
                                                {
                                                    <a href="" class="col-lg-3-8 maindiv sortbodyfitid sortvmclick" data-bodyfitid="@bodyFit.Id">
                                                        <span class="imgkeeper">
                                                            <img class="img-fluid"
                                                                 src="~/assets/images/bodyfit/@bodyFit.Image" alt="">
                                                        </span>
                                                        <span class="col-lg-12 namecate">@bodyFit.Name.ToUpperInvariant()</span>
                                                    </a>
                                                }
                                            </div>
                                        </div>

                                        <div class="col-lg-4-5 right">
                                            <span class="col-lg-12 mainspan">YOU MAY BE INTERESTED</span>
                                            <a asp-controller="Shop" asp-action="Index" class="topphoto col-lg-12">
                                                <img class="img-fluid " src="~/assets/images/categories/categoryright1.jpg"
                                                     alt="">
                                                <div class="overlay"></div>
                                                <div class="nazvanie">HOLIDAYS</div>
                                            </a>
                                            <a asp-controller="Shop" asp-action="Index" class="bottomphoto col-lg-12">
                                                <img class="img-fluid " src="~/assets/images/categories/categoryright2.jpg"
                                                     alt="">
                                                <div class="overlay"></div>
                                                <div class="nazvanie">FESTIVALS</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </section>

    <section class="breadcrumb">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-3">
                    <a asp-controller="Home" asp-action="Index">MAIN PAGE</a>&nbsp;/ SHOP
                </div>
            </div>
        </div>
    </section>

    <section id="clothing">
        <div class="container">
            <div class="row all">
                <div class="top col-lg-12">
                    CLOTHING
                </div>

                <div class="filternew col-lg-12 col-12">
                    <div class="sort col-lg-2-2 filterdiv">
                        <span class="sorttype">SORT</span>
                        <ul class="filterul sortbycount" style="height: 170px; overflow-y: scroll;">
                            @*<li>SORT</li>*@
                            <li data-selectvalue="6" class="sortselectvalue sortvmclick">6</li>
                            <li data-selectvalue="12" class="sortselectvalue sortvmclick">12</li>
                            <li data-selectvalue="18" class="sortselectvalue sortvmclick">18</li>
                            <li data-selectvalue="24" class="sortselectvalue sortvmclick">24</li>
                            <li data-selectvalue="30" class="sortselectvalue sortvmclick">30</li>
                        </ul>
                        <div class="svgkeeper">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L6.64645 7.35355L7 7.70711L7.35355 7.35355L7 7ZM12.6464 0.646447L6.64645 6.64645L7.35355 7.35355L13.3536 1.35355L12.6464 0.646447ZM7.35355 6.64645L1.35355 0.646447L0.646446 1.35355L6.64645 7.35355L7.35355 6.64645Z"
                                      fill="#151515" />
                            </svg>
                        </div>
                    </div>
                    <div class="style col-lg-2-2 filterdiv">
                        <span class="sorttype">ORDER BY</span>
                        <ul class="filterul sortbyorder" style="height: 170px; overflow-y: scroll;">
                            <li class="default deforderby" data-orderby="0">ORDER BY</li>
                            <li data-orderby="1" class="sortorderby sortvmclick">LOWEST $</li>
                            <li data-orderby="2" class="sortorderby sortvmclick">HIGHEST $</li>
                            <li data-orderby="3" class="sortorderby sortvmclick">NEWEST</li>
                            <li data-orderby="4" class="sortorderby sortvmclick">MOST POPULAR</li>
                            <li data-orderby="5" class="sortorderby sortvmclick">REVIEW COUNT</li>
                        </ul>
                        <div class="svgkeeper">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L6.64645 7.35355L7 7.70711L7.35355 7.35355L7 7ZM12.6464 0.646447L6.64645 6.64645L7.35355 7.35355L13.3536 1.35355L12.6464 0.646447ZM7.35355 6.64645L1.35355 0.646447L0.646446 1.35355L6.64645 7.35355L7.35355 6.64645Z"
                                      fill="#151515" />
                            </svg>
                        </div>
                    </div>
                    <div class="color col-lg-2-2 filterdiv">
                        <span class="sorttype">COLOR</span>
                        <ul class="filterul sortbycolor" style="height: 170px; overflow-y: scroll;">
                            <li class="default defcolor" data-colorid="0">COLOR</li>
                            @foreach (ColorListVM color in Model.Colors)
                            {
                                <li class="sortcolorid sortvmclick" data-colorid="@color.Id">@color.Name.ToUpperInvariant()</li>
                            }
                        </ul>
                        <div class="svgkeeper">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L6.64645 7.35355L7 7.70711L7.35355 7.35355L7 7ZM12.6464 0.646447L6.64645 6.64645L7.35355 7.35355L13.3536 1.35355L12.6464 0.646447ZM7.35355 6.64645L1.35355 0.646447L0.646446 1.35355L6.64645 7.35355L7.35355 6.64645Z"
                                      fill="#151515" />
                            </svg>
                        </div>
                        <span class="clearsort" style="display: none; color: var(--yellow);position: absolute;left: 50%;transform: translateX(-50%);top: -100%;font-size: 20px;">CLEAR</span>
                    </div>
                    <div class="bodyfit col-lg-2-2 filterdiv">
                        <span class="sorttype">BODY FIT</span>
                        <ul class="filterul sortbybodyfit" style="height: 170px; overflow-y: scroll;">
                            <li class="default defbodyfit" data-bodyfitid="0">BODY FIT</li>
                            @foreach (var bodyFit in Model.BodyFits.GroupBy(x => x.Name).Select(x => x.First()))
                            {
                                <li class="sortbodyfitid sortvmclick" data-bodyfitid="@bodyFit.Id">@bodyFit.Name.ToUpperInvariant()</li>
                            }
                        </ul>
                        <div class="svgkeeper">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L6.64645 7.35355L7 7.70711L7.35355 7.35355L7 7ZM12.6464 0.646447L6.64645 6.64645L7.35355 7.35355L13.3536 1.35355L12.6464 0.646447ZM7.35355 6.64645L1.35355 0.646447L0.646446 1.35355L6.64645 7.35355L7.35355 6.64645Z"
                                      fill="#151515" />
                            </svg>
                        </div>
                    </div>

                    <div class="price-input-mobile">
                        <input type="number" class="input-min" value="100">
                        <span class="inputspan">-</span>
                        <input type="number" class="input-max" value="1000">
                        <span class="axirincnispan">$</span>
                    </div>

                    <div class="size col-lg-2-2 filterdiv">
                        <span class="sorttype">SIZE</span>
                        <ul class="filterul sortbysize" style="height: 170px; overflow-y: scroll;">
                            <li class="default defsize" data-sizeid="0">SIZE</li>
                            @foreach (SizeListVM size in Model.Sizes)
                            {
                                <li class="sortsizeid sortvmclick" data-sizeid="@size.Id">@size.Name.ToUpperInvariant()</li>
                            }
                        </ul>
                        <div class="svgkeeper">
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L6.64645 7.35355L7 7.70711L7.35355 7.35355L7 7ZM12.6464 0.646447L6.64645 6.64645L7.35355 7.35355L13.3536 1.35355L12.6464 0.646447ZM7.35355 6.64645L1.35355 0.646447L0.646446 1.35355L6.64645 7.35355L7.35355 6.64645Z"
                                      fill="#151515" />
                            </svg>
                        </div>

                    </div>
                </div>

                <div class="pricerange col-lg-12">
                    <div class="price-input col-lg-1-8">
                        <input type="number" class="input-min" value="100">
                        <span>$</span>
                        <span class="inputspan">-</span>
                        <input type="number" class="input-max" value="1000">
                        <span class="axirincnispan">$</span>
                    </div>
                    <div class="slider1">
                    </div>
                    <div class="range-input">
                        <input type="range" class="range-min" min="0" max="1500" value="100" step="1">
                        <input type="range" class="range-max" min="0" max="1500" value="1000" step="1">
                    </div>
                </div>

                <div class="products col-lg-12" style="align-items: flex-start;">
                    @await Html.PartialAsync("_ProductIndexPartial", Model.Products)
                </div>

                <div class="pagination col-lg-12">
                    <ul>
                        @for (int i = 1; i <= Model.Products.PageCount; i++)
                        {
                            <li class="@(Model.Products.Page == i ? "activepagination" : "") sortpage" data-sortpage="@i"></li>
                        }
                    </ul>
                </div>

                <div class="loadmore col-lg-12">
                    <a href="" class="loadmore">LOAD MORE</a>
                </div>

            </div>
        </div>
    </section>
</main>
