@model PaginationList<SizeListVM>

<div class="main-panel ">
    <div class="content-wrapper pt-0 pb-2">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-lg-3 col-12">
                    <h3>Size</h3>
                </div>
                <div class="col-lg-6 col-12">
                    <form class="">
                        <div class="row justify-content-center align-items-center col-12">
                            <div class="col-lg-4 col-4 align-items-center py-2">
                                <label class="form-label">Sort By</label>
                                <select name="status" class="form-select" aria-label="Default select example">
                                    <option selected value="0">All</option>
                                    <option value="1">Deleted</option>
                                    <option value="2">Active</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-4 align-items-center py-2">
                                <label class="form-label">Select:</label>
                                <select name="select" class="form-select" aria-label="Default select example">
                                    <option selected value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-3">
                                <button class="btn btn-primary" type="submit">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-1 col-3">
                    <a class="btn btn-success" asp-area="Manage" asp-controller="Size" asp-action="Create">Create</a>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    @await Html.PartialAsync("_SizeIndexPartial", Model)
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center w-100 align-items-center d-flex mt-2">
        <ul class="pagination d-flex justify-content-center align-content-center">
            @if (Model.HasPrev)
            {
                <li class="page-item"><a class="page-link" asp-area="Manage" asp-controller="Size" asp-action="Index" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status" asp-route-page="1">@("<<")</a></li>

                <li class="page-item"><a class="page-link" asp-area="Manage" asp-controller="Size" asp-action="Index" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status" asp-route-page="@(Model.Page-1)">@("<")</a></li>
            }
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(Model.Page == i ? "active":"")"><a class="page-link" asp-area="Manage" asp-controller="Size" asp-action="Index" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status" asp-route-page="@i">@i</a></li>
            }
            @if (Model.HasNext)
            {
                <li class="page-item"><a class="page-link" asp-area="Manage" asp-controller="Size" asp-action="Index" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status" asp-route-page="@(Model.Page+1)">@(">")</a></li>
                <li class="page-item"><a class="page-link" asp-area="Manage" asp-controller="Size" asp-action="Index" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status" asp-route-page="@Model.PageCount">@(">>")</a></li>
            }
        </ul>
    </div>

</div>


