@model IDictionary<string, string>

<main>

    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <section class="breadcrumbregsiter">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-6">
                    <a asp-controller="Home" asp-action="Index">MAIN PAGE</a>&nbsp;/ ABOUT
                </div>
            </div>
        </div>
    </section>

    <section class="aboutkeeper">
        <div class="container">
            <div class="row all">
                <p class="firstp col-lg-12 col-12">ABOUT US</p>

                <div class="col-lg-6 col-6 firstabout">
                    <p class="mission col-lg-10 col-12">OUR <span>MISSION</span> <br> AND VALUE</p>
                    <p class="col-lg-12 col-12 missiontext">
                        @Html.Raw(Model.FirstOrDefault(x => x.Key == "missiontext1").Value)
                    </p>
                    <img src="~/assets/images/settings/@Model.FirstOrDefault(x => x.Key == "aboutfirstphoto").Value" alt="" class="col-lg-12 col-12 img-fluid">
                </div>
                <div class="col-lg-6 col-6 firstabout">
                    <p class="col-lg-12 col-12 missiontext">
                        @Html.Raw(Model.FirstOrDefault(x => x.Key == "missiontext2").Value)
                    </p>
                    <img src="~/assets/images/settings/@Model.FirstOrDefault(x => x.Key == "aboutsecondphoto").Value" alt="" class="col-lg-12 col-12 img-fluid">
                </div>

            </div>
        </div>

    </section>

    <section class="karusel">
        <div class="carouselmaindivabout">
            @for (int i = 0; i < 11; i++)
            {
                <span>@Model.FirstOrDefault(x => x.Key == "karuselabout").Value</span>
            }
        </div>
    </section>

    <section class="years">
        <div class="container">
            <div class="row all">
                <div class="col-lg-12 col-12">
                    <span class="topyear col-lg-7 col-7">1991</span>
                    <span class="bottomtextyear col-lg-7 col-8">
                        @Model.FirstOrDefault(x => x.Key == "bottomtextyear1").Value
                    </span>
                </div>
                <div class="col-lg-12 col-12">
                    <span class="topyear col-lg-7 col-7">1992</span>
                    <span class="bottomtextyear col-lg-7 col-8">
                        @Model.FirstOrDefault(x => x.Key == "bottomtextyear2").Value
                    </span>
                </div>
                <div class="col-lg-12 col-12">
                    <span class="topyear col-lg-7 col-7">1993</span>
                    <span class="bottomtextyear col-lg-7 col-8">
                        @Model.FirstOrDefault(x => x.Key == "bottomtextyear3").Value
                    </span>
                </div>
                <div class="col-lg-12 col-12">
                    <span class="topyear col-lg-7 col-7">1991</span>
                    <span class="bottomtextyear col-lg-7 col-8">
                        @Model.FirstOrDefault(x => x.Key == "bottomtextyear4").Value
                    </span>
                </div>
            </div>
        </div>

    </section>

    <section class="bigphoto">
        <div class="col-lg-12 col-12">
            <div class="imgkeeperabout">
                <img src="~/assets/images/settings/@Model.FirstOrDefault(x => x.Key == "aboutbigimage").Value" alt="" class="col-lg-12 col-12 img-fluid">
                <span class="forabs">
                    NUMBERS
                </span>
                <div class="col-lg-3 col-5 textleft">
                    @Model.FirstOrDefault(x => x.Key == "abouttextleft").Value
                </div>
                <div class="col-lg-3 col-5 textright">
                    @Model.FirstOrDefault(x => x.Key == "abouttextright").Value
                </div>
            </div>
        </div>
    </section>

    <section class="ofisi">
        <div class="container">
            <div class="row all">
                <p class="col-lg-12 col-12 secondpaout">
                    OUR OFFICES
                </p>
                <div class="col-lg-12 col-12 keepefirstr">
                    <div class="col-lg-3 col-5">
                        <span class="headoff col-lg-12 col-12">
                            HEAD OFFICES
                        </span>
                        <span class="adresler col-lg-12 col-12">
                            Pull&Bear España, S.A.
                            Polígono Industrial Río do Pozo
                            Av. Gonzalo Navarro 37-43
                            15578 Narón (A Coruña) - Spain
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 col-12 keepersecond">
                    <div class="col-lg-3-5 col-6">
                        <span class="col-lg-12 col-12 topmainaddress">
                            ANDORRA
                        </span>
                        <span class="col-lg-12 col-12 bottommainaddress">
                            Av. Meritxell, 91 - 1r pis
                            Andorra - 500
                            T. +376 827 340
                        </span>
                    </div>
                    <div class="col-lg-3-5 col-6">
                        <span class="col-lg-12 col-12 topmainaddress">
                            AUSTRIA
                        </span>
                        <span class="col-lg-12 col-12 bottommainaddress">
                            21, Hegelgasse Top7
                            1010 Wien
                            T. +43 151279140
                        </span>
                    </div>
                    <div class="col-lg-3-5 col-6">
                        <span class="col-lg-12 col-12 topmainaddress">
                            AZERBAIJAN
                        </span>
                        <span class="col-lg-12 col-12 bottommainaddress">
                            Galleria Nazgiz
                            340 AZ 1005 Baku
                            T. 994+12 4968896
                        </span>
                    </div>
                    <div class="col-lg-3-5 col-6">
                        <span class="col-lg-12 col-12 topmainaddress">
                            BULGARIA
                        </span>
                        <span class="col-lg-12 col-12 bottommainaddress">
                            Totleben Boulevard, 55
                            1606 Sofia
                            T. +35 928 05 7105
                        </span>
                    </div>
                    <div class="col-lg-3-5 col-6">
                        <span class="col-lg-12 col-12 topmainaddress">
                            CROATIA
                        </span>
                        <span class="col-lg-12 col-12 bottommainaddress">
                            Radnicka Cesta, 80
                            10000 Zagreb
                            T. + 385 16396102
                        </span>
                    </div>
                    <div class="col-lg-3-5 col-6">
                        <span class="col-lg-12 col-12 topmainaddress">
                            CZECH REPUBLIC
                        </span>
                        <span class="col-lg-12 col-12 bottommainaddress">
                            Rybná 682/14
                            110 00 Praha 1
                            T. +420 224 239 873
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="rabotaysnami">
        <div class="container">
            <div class="row all">
                <p class="col-lg-12 col-12 thirdpabout">
                    WORK WITH US
                </p>
                <div class="col-lg-12 col-12 allthen">

                    <div class="col-lg-5 col-12 left">
                        <img src="~/assets/images/settings/@Model.FirstOrDefault(x=> x.Key == "aboutbottomlastphoto").Value" alt="" class="img-fluid">

                        <div class="firstcar">

                            <div class="carouselkeeper bottomtop">
                                @for (int i = 0; i < 11; i++)
                                {
                                    <div class="span karuselitem">
                                        @Model.FirstOrDefault(x => x.Key == "aboutbottomCaroosel").Value &nbsp;&nbsp; @Model.FirstOrDefault(x => x.Key == "aboutbottomCaroosel").Value &nbsp;&nbsp;
                                    </div>
                                }
                            </div>

                        </div>

                        <div class="secondcar">

                            <div class="carouselkeeper bottomright">
                                @for (int i = 0; i < 11; i++)
                                {
                                    <div class="span karuselitem">
                                        @Model.FirstOrDefault(x => x.Key == "aboutbottomCaroosel").Value &nbsp;&nbsp; @Model.FirstOrDefault(x => x.Key == "aboutbottomCaroosel").Value &nbsp;&nbsp;
                                    </div>
                                }
                            </div>

                        </div>

                        <div class="thirdcar">

                            <div class="carouselkeeper topbottom">
                                @for (int i = 0; i < 11; i++)
                                {
                                    <div class="span karuselitem">
                                        @Model.FirstOrDefault(x => x.Key == "aboutbottomCaroosel").Value &nbsp;&nbsp; @Model.FirstOrDefault(x => x.Key == "aboutbottomCaroosel").Value &nbsp;&nbsp;
                                    </div>
                                }
                            </div>

                        </div>

                        <div class="forthcar">

                            <div class="carouselkeeper topleft">
                                @for (int i = 0; i < 11; i++)
                                {
                                    <div class="span karuselitem">
                                        @Model.FirstOrDefault(x => x.Key == "aboutbottomCaroosel").Value &nbsp;&nbsp; @Model.FirstOrDefault(x => x.Key == "aboutbottomCaroosel").Value &nbsp;&nbsp;
                                    </div>
                                }
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-12 right">
                        <p class="col-lg-12 col-12">
                            @Model.FirstOrDefault(x => x.Key == "lasttextabout1").Value
                        </p>
                        <p class="col-lg-12 col-12">
                            @Model.FirstOrDefault(x => x.Key == "lasttextabout2").Value
                        </p>
                        <a href="mailto:@Model.FirstOrDefault(x => x.Key == "mailabout").Value">
                            Write us on @Model.FirstOrDefault(x => x.Key == "mailabout").Value
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>

