@model PaginationList<BodyFitListVM>

@{
    int no = Model.ItemsCount * (Model.Page - 1);
}

<table class="table table-bordered table-striped tblContent">
    <thead>
        <tr>
            <th class="col-lg-1 col-1">№</th>
            <th class="col-lg-2 col-2">Image</th>
            <th class="col-lg-3 col-1">Name</th>
            <th class="col-lg-1 col-1">Status</th>
            <th class="col-lg-1 col-1">Update</th>
            <th class="col-lg-1 col-1">Delete/Restore</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BodyFitListVM bodyfit in Model)
        {
            no++;
            <tr>
                <td class="col-lg-1 col-1">@no</td>
                <td class="col-lg-1 col-1"><img class="img-fluid" src="./assets/images/bodyfit/332250f7-4c48-4b9f-ae7e-f9bc185d8ddf_20220824234811287_basketproduct4.jpg" /></td>
                <td class="col-lg-3 col-3">@bodyfit.Name</td>
                <td class="col-lg-1 col-1" style="color:@(bodyfit.IsDeleted ? "red" : "green")">@(bodyfit.IsDeleted ? "Deleted" : "Active")</td>
                <td class="col-lg-1 col-1">
                    <a class="btn btn-warning" asp-area="Manage" asp-controller="BodyFit" asp-action="Update" asp-route-id="@bodyfit.Id">Update</a>
                </td>
                <td class="col-lg-1 col-1">
                    @if (bodyfit.IsDeleted)
                    {
                        <a class="btn btn-primary restoreBtn" asp-area="Manage" asp-controller="BodyFit"
                           asp-action="Restore" asp-route-id="@bodyfit.Id" asp-route-type="@ViewBag.Type" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.Page">Restore</a>
                    }
                    else
                    {
                        <a class="btn btn-danger deleteBtn" asp-area="Manage" asp-controller="BodyFit"
                           asp-action="Delete" asp-route-id="@bodyfit.Id" asp-route-type="@ViewBag.Type" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.Page">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>