@model PaginationList<CategoryListVM>

@{
    int no = Model.ItemsCount * (Model.Page - 1);
}

<table class="table table-bordered table-striped tblContent">
    <thead>
        <tr>
            <th class="col-lg-1 col-1 text-wrap">№</th>
            <th class="col-lg-1 col-1 text-wrap">Name</th>
            <th class="col-lg-1 col-1 text-wrap">Image</th>
            <th class="col-lg-1 col-1 text-wrap">Category Type</th>
            <th class="col-lg-1 col-1 text-wrap">Category's Parent</th>
            <th class="col-lg-1 col-1 text-wrap">Category's Children</th>
            <th class="col-lg-1 col-1 text-wrap">Gender</th>
            <th class="col-lg-1 col-1 text-wrap">Status</th>
            <th class="col-lg-1 col-1 text-wrap">Update</th>
            <th class="col-lg-1 col-1 text-wrap">Delete/Restore</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CategoryListVM category in Model)
        {
            no++;
            <tr>
                <td class="col-lg-1 col-1 text-wrap">@no</td>
                <td class="col-lg-1 col-1 text-wrap">@category.Name</td>
                <td class="col-lg-2 col-2 "><img class="img-fluid" src="~/assets/images/categories/@category.Image" /></td>
                <td class="col-lg-1 col-1 text-wrap">@(category.IsMain ? "Main Category"  :"Sub Category")</td>
                <td class="col-lg-1 col-1 text-wrap text-success">
                    @if (category.ParentId != null && category.IsMain == false)
                    {
                        @category.Parent.Name
                    }
                    else
                    {
                        <span class="text-danger">Parent category</span>
                    }
                </td>
                <td class="col-lg-1 col-1 text-wrap text-success">
                    @if (category.IsMain && category.ParentId == null)
                    {
                        if (category.Children.Count > 0 && category.Children != null)
                        {
                            @foreach (CategoryListVM categoryListVM in category.Children)
                            {
                                <span>
                                    @categoryListVM.Name,&nbsp;
                                </span>
                            }
                        }
                        else
                        {
                            <span class="text-danger">No Children</span>
                        }
                    }
                </td>
                <td class="col-lg-1 col-1 text-wrap">@category.GenderName</td>
                <td class="col-lg-1 col-1 text-wrap" style="color:@(category.IsDeleted ? "red" : "green")">@(category.IsDeleted ? "Deleted" : "Active")</td>
                <td class="col-lg-1 col-1 text-wrap">
                    <a class="btn btn-warning" asp-area="Manage" asp-controller="Category" asp-action="Update" asp-route-id="@category.Id">Update</a>
                </td>
                <td class="col-lg-1 col-1 text-wrap">
                    @if (category.IsDeleted)
                    {
                        <a class="btn btn-primary restoreBtn" asp-area="Manage" asp-controller="Category"
                           asp-action="Restore" asp-route-id="@category.Id" asp-route-type="@ViewBag.Type" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.Page">Restore</a>
                    }
                    else
                    {
                        <a class="btn btn-danger deleteBtn" asp-area="Manage" asp-controller="Category"
                           asp-action="Delete" asp-route-id="@category.Id" asp-route-type="@ViewBag.Type" asp-route-select="@ViewBag.Select" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.Page">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>