@model List<ProductColorSizeGetVM>

@{
    SelectList maleCategories = new SelectList(ViewBag.MaleChildCategories, nameof(CategoryListVM.Id), nameof(CategoryListVM.Name));
    SelectList femaleCategories = new SelectList(ViewBag.FemaleChildCategories, nameof(CategoryListVM.Id), nameof(CategoryListVM.Name));
    SelectList maleBodyfits = new SelectList(ViewBag.MaleBodyFits, nameof(BodyFitListVM.Id), nameof(BodyFitListVM.Name));
    SelectList femaleBodyfits = new SelectList(ViewBag.FemaleBodyFits, nameof(BodyFitListVM.Id), nameof(BodyFitListVM.Name));
    SelectList tags = new SelectList(ViewBag.Tags, nameof(TagListVM.Id), nameof(TagListVM.Name));
    SelectList colors = new SelectList(ViewBag.Colors, nameof(ColorListVM.Id), nameof(ColorListVM.Name));
    SelectList sizes = new SelectList(ViewBag.Sizes, nameof(SizeListVM.Id), nameof(SizeListVM.Name));
}

@if (Model != null)
{
    foreach (ProductColorSizeGetVM productColorSize in Model)
    {
        <div class="col-lg-12 col-12 row d-flex flex-wrap hamsi" style="position: relative">
            <div class="form-group col-lg-4">
                <label>Color:</label>
                <select name="ColorIds" class="form-control" asp-items="@colors">
                    <option value="@productColorSize.Color.Id" selected>@productColorSize.Color.Name</option>
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label>Size:</label>
                <select name="SizeIds" class="form-control" asp-items="@sizes">
                    <option value="@productColorSize.Size.Id" selected>@productColorSize.Size.Name</option>
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label>Count:</label>
                <input name="Counts" class="form-control" value="@productColorSize.Count">
            </div>
            <span class="removeinps" style="position: absolute; top:0; right:0; width: 30px;font-size:20px; cursor: pointer;">
                <ion-icon name="close-outline">
                    <a class="deletecolorsizedb" asp-area="Manage" asp-controller="Product" asp-action="DeleteColorSize"></a>
                </ion-icon>
            </span>
        </div>
    }
}