@model OrderIndexVM

<main>
    <section class="whereareyou">
        <div class="where">.</div>
    </section>

    <div class="basketindex" style="opacity: 0; visibility: hidden;">.</div>

    <section class="breadcrumb">
        <div class="container">
            <div class="row keeper">
                <div class="col-lg-6">
                    <a asp-controller="Home" asp-action="Index">MAIN PAGE</a>&nbsp;/ <a asp-controller="Basket" asp-action="Index">BASKET</a>&nbsp;/ CHECKOUT
                </div>
            </div>
        </div>
    </section>

    <section class="checkoutsection">
        <div class="container">
            <div class="row all">
                <p class="firstp">CHECK OUT</p>

                @await Html.PartialAsync("_CheckoutFormPartial", Model.OrderCreateVM)

                <div class="rightcheckout col-lg-5 col-12">
                    @await Html.PartialAsync("_CheckoutSubmitFormPartial", Model.Baskets)
                </div>

                @await Html.PartialAsync("_CheckoutAddAccountInfoFormPartial", Model.AppUserUpdateVM)

                @await Html.PartialAsync("_CheckoutAddAddressFormPartial", Model.AddressCreateVM)

                @await Html.PartialAsync("_CheckoutAddCardFormPartial", Model.CardCreateVM)

                <div class="boughtorders col-lg-12 col-12">
                    <p class="orderdet col-lg-12 col-12">
                        ORDER DETAILS
                    </p>

                    @await Html.PartialAsync("_CheckoutBasketsPartial", Model.Baskets)
                    @* deletebasketelementfromcheckout *@
                </div>
            </div>
        </div>
    </section>

    <section class="cardmodal ">
        <div class="closekeeper ">
            <ion-icon name="close-circle-outline" class="closecardmodal"></ion-icon>
            <div class="container dontclose">
                <div class="row all">
                    <p class="firstp col-lg-12 col-12">MY CARDS</p>
                    <div class="carddiv col-lg-12 col-12">
                        @foreach (var item in Model.AppUserGetVM.Cards)
                        {
                            <div class="cardinozu col-lg-4 col-12">
                                <div class="cardozu col-lg-12 col-12">
                                    <span class="col-lg-1-5 col-1-5">
                                        <img class="img-fluid" src="~/assets/images/settings/mastercard.jpg" alt="">
                                    </span>
                                    <span class="cardno">
                                        @item.CardNo
                                    </span>
                                    <span class="cardexpire">
                                        @item.ExpireDate
                                    </span>
                                    <span class="cardholder">
                                        @item.CardHolder
                                    </span>
                                    <span class=" headword">International card</span>
                                    @if (item.IsMain)
                                    {
                                        <span class="ismain">Main Card</span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="addressmodal">
        <div class="closekeeper">
            <ion-icon name="close-circle-outline" class="closeaddressmodal"></ion-icon>
            <div class="container dontclose">
                <div class="row all">
                    <p class="firstp col-lg-12 col-12">MY ADDRESSES</p>
                    <div class="addressdiv col-lg-12 col-12">

                        @foreach (var item in Model.AppUserGetVM.Addresses)
                        {
                            <div class="addressinozu col-lg-4 col-12">
                                <div class="addressozu col-lg-12 col-12">

                                    <div class="top">
                                        <span class="cityname col-lg-12 col-12">
                                            City: <span class="cityvalue">@item.City</span>
                                        </span>
                                        <span class="countryname col-lg-12 col-12">
                                            Country: <span class="countryvalue">@item.Country</span>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <span class="address1name col-lg-12 col-12">
                                            <span class="col-lg-12 col-12">
                                                Address1:
                                            </span>
                                            <span class="col-lg-12 address1value">
                                                @item.Address1
                                            </span>
                                        </span>
                                        <span class="address2name col-lg-12 col-12">
                                            <span class="col-lg-12 col-12">
                                                Address2:
                                            </span>
                                            <span class="col-lg-12 col-12 address2value">
                                                @item.Address2
                                            </span>
                                        </span>
                                        <span class="zipcodename col-lg-12 col-12">
                                            <span class="col-lg-12 col-12">
                                                ZIP code:
                                            </span>
                                            <span class="col-lg-12 col-12 zipcodevalue">
                                                @item.ZipCode
                                            </span>
                                        </span>
                                        @if (item.IsMain)
                                        {
                                            <span class=" ismain">Main Address</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
