@model List<AddressListVM>

@foreach (var item in Model)
{
    <div class="addressinozu col-lg-4 col-12">
        <div class="addressozu col-lg-12 col-12">

            <div class="top">
                <span class="cityname col-lg-12 col-12">
                    City: @item.City.ToUpperInvariant()
                </span>
                <span class="countryname col-lg-12 col-12">
                    Country: @item.Country.ToUpperInvariant()
                </span>
            </div>
            <div class="bottom">
                <span class="address1name col-lg-12 col-12">
                    <span class="col-lg-12 col-12">
                        Address1:
                    </span>
                    <span class="col-lg-12">
                        @item.Address1
                    </span>
                </span>
                <span class="address2name col-lg-12 col-12">
                    <span class="col-lg-12 col-12">
                        Address2:
                    </span>
                    <span class="col-lg-12 col-12">
                        @item.Address2
                    </span>
                </span>
                <span class="zipcodename col-lg-12 col-12">
                    <span class="col-lg-12 col-12">
                        ZIP code:
                    </span>
                    <span class="col-lg-12 col-12">
                        @item.ZipCode
                    </span>
                </span>
            </div>
            <span class="deleteaddress">
                <a asp-controller="Address" asp-action="DeleteAddress" asp-route-id="@item.Id" class="deleteusersaddress">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.75 4.2998V22.9998H20.25V4.2998H3.75Z" stroke="black"
                              stroke-linejoin="round" />
                        <path d="M9.8 9.7998V16.9498M14.2 9.7998V16.9498M1 4.2998H23" stroke="black"
                              stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M7.60059 4.3L9.40954 1H14.6279L16.4006 4.3H7.60059Z" stroke="black"
                              stroke-linejoin="round" />
                    </svg>
                </a>
            </span>

            @if (item.IsMain)
            {
                <span class=" ismain">Main Address</span>
            }
            else
            {
                <span class="makemain">
                    <a asp-controller="Address" asp-action="MakeMain" class="makeaddressmain" asp-route-id="@item.Id">
                        MAKE MAIN
                    </a>
                </span>
            }
        </div>
    </div>
}