@model PaginationList<ProductListVM>

@foreach (ProductListVM product in Model)
{
    <div class="col-lg-3-5 col-12 product">
        <div class="top">

            <a class="photoimgkeeper" asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">
                <img class="img-fluid" src="~/assets/images/products/@product.Id/@product.ShopImage" alt="">
            </a>

            <a class="wishlist" asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@product.Id">
                <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                          stroke="black" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
            </a>

            <span class="discount_percent">
                <span>-@Math.Round(100 - (product.DiscountPrice / product.Price * 100))%</span>
            </span>
        </div>

        <div class="bottom">
            <div class="botop col-lg-12 col-12" style="align-items: flex-start;">
                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id" class="botopleft col-lg-9 col-9">@product.Name</a>
                <span class="discprice botopright col-lg-2 col-2">@product.DiscountPrice $</span>
            </div>
            <form method="post" class="bobottom col-lg-12 col-12 addingtobasketinshoppage" asp-controller="Basket" asp-action="AddToBasket">
                <div class="bobotleft col-lg-4 col-4">
                    <select name="" id="" class="size">
                        <option selected value="0">SIZE</option>
                        @foreach (ProductColorSizeGetVM size in product.ProductColorSizes.OrderBy(x => (int)Enum.Parse(typeof(SizeList), x.Size.Name)).GroupBy(x => x.Size.Name).Select(x => x.First()))
                        {
                            <option value="@size.Size.Id">@size.Size.Name</option>
                        }
                    </select>
                </div>
                <div class="bobotright col-lg-7 col-7">
                    @foreach (ProductColorSizeGetVM color in product.ProductColorSizes.GroupBy(x => x.Color.HexCode).Select(x => x.First()))
                    {
                        <input type="radio" name="color" value="@color.Color.HexCode">
                        <div class="colorlabel color_box" style="background-color: @color.Color.HexCode;"></div>
                    }
                </div>

                <button type="submit" class="basket addtobasketshopbtn">
                    <svg width="31" height="28" viewBox="0 0 18 21" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5 6.39643V4.5C13.5 3.90905 13.3836 3.32389 13.1575 2.77792C12.9313 2.23196 12.5998 1.73588 12.182 1.31802C11.7641 0.900156 11.268 0.568688 10.7221 0.342542C10.1761 0.116396 9.59095 0 9 0C8.40905 0 7.82389 0.116396 7.27792 0.342542C6.73196 0.568688 6.23588 0.900156 5.81802 1.31802C5.40016 1.73588 5.06869 2.23196 4.84254 2.77792C4.6164 3.32389 4.5 3.90905 4.5 4.5V9C4.5 9.1705 4.56773 9.33401 4.68829 9.45457C4.80885 9.57513 4.97236 9.64286 5.14286 9.64286C5.31335 9.64286 5.47687 9.57513 5.59743 9.45457C5.71798 9.33401 5.78571 9.1705 5.78571 9V7.68214H10.9286V6.39643H5.78571V4.5C5.78571 3.64752 6.12436 2.82995 6.72716 2.22716C7.32995 1.62436 8.14752 1.28571 9 1.28571C9.85248 1.28571 10.67 1.62436 11.2728 2.22716C11.8756 2.82995 12.2143 3.64752 12.2143 4.5V8.96786C12.2143 9.13835 12.282 9.30187 12.4026 9.42243C12.5231 9.54298 12.6866 9.61071 12.8571 9.61071C13.0276 9.61071 13.1912 9.54298 13.3117 9.42243C13.4323 9.30187 13.5 9.13835 13.5 8.96786V7.68214H16.7143V19.2536H1.28571V7.68214H3.21429V6.39643H0V19.3114C0 19.6371 0.129363 19.9494 0.359631 20.1797C0.589899 20.4099 0.902209 20.5393 1.22786 20.5393H16.7721C17.0978 20.5393 17.4101 20.4099 17.6404 20.1797C17.8706 19.9494 18 19.6371 18 19.3114V6.39643H13.5Z"
                              fill="black" />
                    </svg>
                </button>
            </form>
        </div>
    </div>
}
