@model HomeVM

@{
    var prods = Model.Products;
}

<main>
    <section class="whereareyou">
    </section>

    <section id="first">
        <div class="col-lg-12 col-12 section_keeper">
            <!-- <img class="img-fluid" src="~/assets/images/main_Page/background.jpg" alt=""> -->
            <p class="brand_name">P<span>U</span>LL&B<span>E</span>AR</p>
            <p class="trynew">@Model.Settings.FirstOrDefault(x => x.Key == "trynew_class").Value</p>
            <a asp-controller="Shop" asp-action="Index">DISCOVER MORE</a>
            <p class="discount">@Model.Settings.FirstOrDefault(x => x.Key == "discount_class").Value </p>
        </div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
    </section>

    <section id="second">

        <div class="container">
            <p class="mission">OUR <span>MISSION</span> <br> AND VALUE</p>
            <img class="image1" src="~/assets/images/main_Page/home_photo1.jpg" alt="">
            <div class="keeper">
                <img class="image2" src="~/assets/images/main_Page/home_photo2.jpg" alt="">
                <p class="fashion_text">
                    @Model.Settings.FirstOrDefault(x => x.Key == "fashion_text_class").Value
                </p>
            </div>
            <img class="image3" src="~/assets/images/main_Page/home_photo3.jpg" alt="">
            <a class="seemore forcomp" asp-controller="Shop" asp-action="Index">SEE MORE</a>
        </div>

    </section>

    <section id="secondthird">
        <div class="container">
            <div class="mainpart">
                <p class="preorder_prods">HOT SALE!</p>
                <a class="seemore" asp-controller="Shop" asp-action="Index">SEE MORE</a>
            </div>
            <div class="sliderfirst">
                @foreach (ProductListVM product in prods.Where(x => x.IsHotSale).Skip(2).Take(12))
                {
                    <div class="slider_element">
                        <div class="imagekeeper">
                            <a class="wishlist addtowishlist" asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@product.Id">
                                <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                          stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                            </a>
                            <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">
                                <img class="img-fluid" src="~/assets/images/Products/@product.Id/@product.ShopImage">
                            </a>
                        </div>
                        <p class="preorder">
                            PREORDER
                        </p>
                        <p class="name">
                            @product.Name
                        </p>
                        <span class="price">
                            @product.DiscountPrice $
                        </span>
                    </div>
                }
            </div>

            <div class="arrows col-lg-4">
                <svg style="margin-bottom: 1px;" class="prevfirst" width="85" height="17" viewBox="0 0 85 17"
                     fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M84 9.5C84.2761 9.5 84.5 9.27614 84.5 9C84.5 8.72386 84.2761 8.5 84 8.5V9.5ZM2 8.5C1.72386 8.5 1.5 8.72386 1.5 9C1.5 9.27614 1.72386 9.5 2 9.5L2 8.5ZM84 8.5L2 8.5L2 9.5L84 9.5V8.5Z"
                          fill="black" />
                    <path d="M12.735 16.424C12.9692 16.5704 13.2776 16.4992 13.424 16.265C13.5704 16.0308 13.4992 15.7224 13.265 15.576L12.735 16.424ZM1 8.5L0.735001 8.076C0.58881 8.16737 0.5 8.3276 0.5 8.5C0.5 8.67239 0.58881 8.83263 0.735 8.924L1 8.5ZM13.265 1.424C13.4992 1.27764 13.5704 0.969169 13.424 0.735001C13.2776 0.500832 12.9692 0.429646 12.735 0.576001L13.265 1.424ZM13.265 15.576L1.265 8.076L0.735 8.924L12.735 16.424L13.265 15.576ZM1.265 8.924L13.265 1.424L12.735 0.576001L0.735001 8.076L1.265 8.924Z"
                          fill="black" />
                </svg>

                <svg class="nextfirst" width="85" height="17" viewBox="0 0 85 17" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 7.5C0.723862 7.5 0.5 7.72386 0.5 8C0.5 8.27614 0.723862 8.5 1 8.5V7.5ZM83 8.5C83.2761 8.5 83.5 8.27614 83.5 8C83.5 7.72386 83.2761 7.5 83 7.5V8.5ZM1 8.5L83 8.5V7.5L1 7.5V8.5Z"
                          fill="black" />
                    <path d="M72.265 0.576001C72.0308 0.429646 71.7224 0.500833 71.576 0.735001C71.4296 0.969169 71.5008 1.27764 71.735 1.424L72.265 0.576001ZM84 8.5L84.265 8.924C84.4112 8.83263 84.5 8.6724 84.5 8.5C84.5 8.32761 84.4112 8.16737 84.265 8.076L84 8.5ZM71.735 15.576C71.5008 15.7224 71.4296 16.0308 71.576 16.265C71.7224 16.4992 72.0308 16.5704 72.265 16.424L71.735 15.576ZM71.735 1.424L83.735 8.924L84.265 8.076L72.265 0.576001L71.735 1.424ZM83.735 8.076L71.735 15.576L72.265 16.424L84.265 8.924L83.735 8.076Z"
                          fill="black" />
                </svg>
            </div>
            <div class="dot"></div>
        </div>
    </section>

    <section id="third">
        <div class="container">
            <div class="mainpart">
                <p class="new_products">NEW COLLECTION</p>
                <a class="seemore" asp-controller="Shop" asp-action="Index">SEE MORE</a>
            </div>
        </div>

        <div class="transformed_p transformed_left ">
            <div class="spans_key">
                @for (int i = 0; i < 6; i++)
                {
                    <span class="animation_hashtag">@Model.Settings.FirstOrDefault(x => x.Key == "animation_hashtag").Value &nbsp;&nbsp;</span>
                }
            </div>
        </div>
        <div class="transformed_p transformed_right ">
            <div class="spans_key">
                @for (int i = 0; i < 6; i++)
                {
                    <span class="animation_hashtag">@Model.Settings.FirstOrDefault(x => x.Key == "animation_hashtag").Value &nbsp;&nbsp;</span>
                }
            </div>
        </div>

        <div class="newprodcs container">

            @foreach (var item in prods.Where(x => x.IsHotSale).OrderByDescending(x => x.DiscountPrice).Skip(8).Take(3))
            {
                <div class="newprodcs_element">
                    <div class="empty_space"></div>
                    <div class="element">
                        <p class="product_name" style="">
                            @item.Name
                        </p>
                        <span class="product_price" style=" ">
                            @item.DiscountPrice $
                        </span>
                        <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">
                            <img class="img-fluid image_click" src="~/assets/images/products/@item.Id/@item.ShopImage">
                        </a>
                    </div>
                </div>
            }
        </div>

    </section>

    <section id="fourth">
        <div class="container">
            <div class="mainpart">
                <p class="preorder_prods">PIECES <br> FOR PREORDER</p>
                <a class="seemore" asp-controller="Shop" asp-action="Index">SEE MORE</a>
            </div>

            <div class="slider">


                @foreach (var item in prods.Where(x => x.IsPreOrder).Skip(5).Take(18))
                {
                    <div class="slider_element">
                        <div class="imagekeeper">
                            <a class="wishlist addtowishlist" asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@item.Id">
                                <svg width="31" height="28" viewBox="0 0 31 28" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.08333 1C4.17192 1 1 4.13933 1 8.0125C1 11.1391 2.23958 18.5596 14.4413 26.0608C14.6599 26.1938 14.9108 26.2642 15.1667 26.2642C15.4225 26.2642 15.6734 26.1938 15.892 26.0608C28.0938 18.5596 29.3333 11.1391 29.3333 8.0125C29.3333 4.13933 26.1614 1 22.25 1C18.3386 1 15.1667 5.25 15.1667 5.25C15.1667 5.25 11.9948 1 8.08333 1Z"
                                          stroke="#FAFF03" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                            </a>
                            <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">
                                <img class="img-fluid" src="~/assets/images/products/@item.Id/@item.ShopImage">
                            </a>
                        </div>
                        <p class="preorder">
                            PREORDER
                        </p>
                        <p class="name">
                            @item.Name
                        </p>
                        <span class="price">
                            @item.DiscountPrice $
                        </span>
                    </div>

                }
            </div>

            <div class="arrows col-lg-4">
                <svg style="margin-bottom: 1px;" class="prev" width="85" height="17" viewBox="0 0 85 17" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M84 9.5C84.2761 9.5 84.5 9.27614 84.5 9C84.5 8.72386 84.2761 8.5 84 8.5V9.5ZM2 8.5C1.72386 8.5 1.5 8.72386 1.5 9C1.5 9.27614 1.72386 9.5 2 9.5L2 8.5ZM84 8.5L2 8.5L2 9.5L84 9.5V8.5Z"
                          fill="black" />
                    <path d="M12.735 16.424C12.9692 16.5704 13.2776 16.4992 13.424 16.265C13.5704 16.0308 13.4992 15.7224 13.265 15.576L12.735 16.424ZM1 8.5L0.735001 8.076C0.58881 8.16737 0.5 8.3276 0.5 8.5C0.5 8.67239 0.58881 8.83263 0.735 8.924L1 8.5ZM13.265 1.424C13.4992 1.27764 13.5704 0.969169 13.424 0.735001C13.2776 0.500832 12.9692 0.429646 12.735 0.576001L13.265 1.424ZM13.265 15.576L1.265 8.076L0.735 8.924L12.735 16.424L13.265 15.576ZM1.265 8.924L13.265 1.424L12.735 0.576001L0.735001 8.076L1.265 8.924Z"
                          fill="black" />
                </svg>

                <svg style="margin-bottom: -1px;" class="next" width="85" height="17" viewBox="0 0 85 17"
                     fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 7.5C0.723862 7.5 0.5 7.72386 0.5 8C0.5 8.27614 0.723862 8.5 1 8.5V7.5ZM83 8.5C83.2761 8.5 83.5 8.27614 83.5 8C83.5 7.72386 83.2761 7.5 83 7.5V8.5ZM1 8.5L83 8.5V7.5L1 7.5V8.5Z"
                          fill="black" />
                    <path d="M72.265 0.576001C72.0308 0.429646 71.7224 0.500833 71.576 0.735001C71.4296 0.969169 71.5008 1.27764 71.735 1.424L72.265 0.576001ZM84 8.5L84.265 8.924C84.4112 8.83263 84.5 8.6724 84.5 8.5C84.5 8.32761 84.4112 8.16737 84.265 8.076L84 8.5ZM71.735 15.576C71.5008 15.7224 71.4296 16.0308 71.576 16.265C71.7224 16.4992 72.0308 16.5704 72.265 16.424L71.735 15.576ZM71.735 1.424L83.735 8.924L84.265 8.076L72.265 0.576001L71.735 1.424ZM83.735 8.076L71.735 15.576L72.265 16.424L84.265 8.924L83.735 8.076Z"
                          fill="black" />
                </svg>
            </div>

            <div class="dot"></div>

        </div>
    </section>

    <section id="fifth">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-7 left">
                    <img class="img-fluid" src="~/assets/images/settings/@Model.Settings.FirstOrDefault(x=>x.Key == "BloggerPhoto").Value" alt="">
                </div>

                <div class="col-lg-6 col-5 right">
                    <div class="left_up_for_border"></div>
                    <div class="left_down_for_border"></div>
                    <div class="right_up_for_border"></div>
                    <div class="right_down_for_border"></div>

                    <p class="first col-12">“THERE IS NOTHING MORE</p>

                    <img class="img-fluid notformobile" style="width: 50%" src="~/assets/images/settings/@Model.Settings.FirstOrDefault(x=> x.Key == "BloggerProduct").Value" alt="">
                    <p class="formobile">
                        “@Model.Settings.FirstOrDefault(x => x.Key == "BloggerQuotes").Value”
                    </p>
                    <a asp-controller="Shop" asp-action="Index" class="linktobloggerclothes">
                        <p class="second">SHOP @Model.Settings.FirstOrDefault(x => x.Key == "BloggerName").Value’S MUST- HAVE</p>
                        <svg class="" width="65" height="17" viewBox="0 0 85 17" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 7.5C0.723862 7.5 0.5 7.72386 0.5 8C0.5 8.27614 0.723862 8.5 1 8.5V7.5ZM83 8.5C83.2761 8.5 83.5 8.27614 83.5 8C83.5 7.72386 83.2761 7.5 83 7.5V8.5ZM1 8.5L83 8.5V7.5L1 7.5V8.5Z"
                                  fill="black" />
                            <path d="M72.265 0.576001C72.0308 0.429646 71.7224 0.500833 71.576 0.735001C71.4296 0.969169 71.5008 1.27764 71.735 1.424L72.265 0.576001ZM84 8.5L84.265 8.924C84.4112 8.83263 84.5 8.6724 84.5 8.5C84.5 8.32761 84.4112 8.16737 84.265 8.076L84 8.5ZM71.735 15.576C71.5008 15.7224 71.4296 16.0308 71.576 16.265C71.7224 16.4992 72.0308 16.5704 72.265 16.424L71.735 15.576ZM71.735 1.424L83.735 8.924L84.265 8.076L72.265 0.576001L71.735 1.424ZM83.735 8.076L71.735 15.576L72.265 16.424L84.265 8.924L83.735 8.076Z"
                                  fill="black" />
                        </svg>
                    </a>
                    <p class="third col-12">IMPORTANT THAN FIT”</p>
                </div>
            </div>
        </div>
    </section>

    <section id="sixth">
        <p class="just_launched">@Model.Settings.FirstOrDefault(x => x.Key == "just_launched").Value</p>
        <p class="shipping">@Html.Raw(Model.Settings.FirstOrDefault(x => x.Key == "shipping_class").Value)</p>

        <div class="col-lg-12 col-12 section_keeper">
            <p class="col-9">
                @Html.Raw(Model.Settings.FirstOrDefault(x => x.Key == "section_keeper_p").Value)
            </p>
            <a asp-controller="Shop" asp-action="Index">SHOP NOW</a>
        </div>
    </section>

    <section id="seventh">
        <div class="container">
            <div class="row">
                <div class="top_main">
                    <div class="col-lg-3-5 col-4 left">
                        <img class="img-fluid" src="~/assets/images/settings/@Model.Settings.FirstOrDefault(x=> x.Key == "start_journey").Value" alt="">
                    </div>
                    <div class="col-lg-8 col-8 right">
                        <div class="top col-12 col-lg-12">
                            START <br> YOUR JOURNEY
                        </div>
                        <ul class="bottom col-12 col-lg-12">
                            <li>
                                @Model.Settings.FirstOrDefault(x => x.Key == "seventh_ul1").Value
                            </li>
                            <li>
                                @Model.Settings.FirstOrDefault(x => x.Key == "seventh_ul2").Value
                            </li>
                            <li>
                                @Model.Settings.FirstOrDefault(x => x.Key == "seventh_ul3").Value
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom_main col-12">
                    <div class="col-lg-4 col-12  testimoninal_div">
                        <div class="top">@Model.Settings.FirstOrDefault(x => x.Key == "testimonial_first_top").Value</div>
                        <div class="bottom">@Model.Settings.FirstOrDefault(x => x.Key == "testimonial_first_bottom").Value</div>
                    </div>
                    <div class="col-lg-4-5 col-12  testimoninal_div">
                        <div class="top">@Model.Settings.FirstOrDefault(x => x.Key == "testimonial_second_top").Value</div>
                        <div class="bottom">@Model.Settings.FirstOrDefault(x => x.Key == "testimonial_second_bottom").Value</div>
                    </div>
                    <div class="col-lg-3-5 col-12  testimoninal_div">
                        <div class="top">@Model.Settings.FirstOrDefault(x => x.Key == "testimonial_third_top").Value</div>
                        <div class="bottom">
                            <a href="@Model.Settings.FirstOrDefault(x => x.Key == "testimonial_third_bottom").Value">
                                @Model.Settings.FirstOrDefault(x => x.Key == "testimonial_third_bottom").Value
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="eighth">
        <div class="top ">
            @for (int i = 0; i < 11; i++)
            {
                <div>
                    @Model.Settings.FirstOrDefault(x => x.Key == "footerslider").Value &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            }
        </div>
        <form method="post" class="mailform col-lg-8 col-10" asp-controller="Contact" asp-action="SendMail">
            <div class="forminside">
                <svg width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.4444 1H2.55556C1.69645 1 1 1.70355 1 2.57143V21.4286C1 22.2964 1.69645 23 2.55556 23H27.4444C28.3036 23 29 22.2964 29 21.4286V2.57143C29 1.70355 28.3036 1 27.4444 1Z"
                          stroke="#14181F" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1 3L15.4 14L29 3" stroke="#14181F" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <input type="email" placeholder="YOUR MAIL">
            </div>
            <button type="submit">SUBMIT</button>
        </form>
    </section>
</main>

